!!!
%html
  %head
    %title Data Engineering
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .user-links
        = link_to 'sign in', new_user_session_path unless current_user
        = link_to 'sign out', destroy_user_session_path, method: :delete if current_user
    .content
      .messages
        %p.notice= notice
        %p.alert= alert
      .main
        = yield